* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: rgb(255, 255, 255);
    height: 100vh;
}


/* Content */
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(20deg,#191cc9, #138338);
}

#form_div{
    position: relative;
    max-width: 600px;
    width: 60%;
    padding: 3%;
    background-color: rgba(235, 235, 235, 0.75);
}

form{
    flex-direction: column;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

.fas {
    position: absolute;
    top: 2%;
    right: 2%;
    color: black;
    transition: color .5s;
}

.fas:hover {
    color: red;
    animation: alternate rotate .5s;
}


/* FORMULAIRE */

label {
    font-size: 18px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    transition: all .3s;
}

input[type=text]:focus, input[type=password]:focus, input[type=text]:hover, input[type=password]:hover {
    background-color: rgb(208, 208, 208);
    outline: none;
}

#submit{
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: all .5s;
}

#submit:hover {
    background-color: #3b853d;
}

.new_page{
    display: inline-block;
    padding-left: 1%;
}


/* ADAPTATION AUX DIFFERENTES TAILLES D'ECRAN*/
@media screen and (max-width: 700px) {
    #form_div {
        width: 70%;
        padding: 6%;
    }
    .fas {
        position: absolute;
        top: 2%;
        right: 15px;
    }
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}