*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: rgb(255, 255, 255);
}

/* SPEIALITES */
/* NAVBAR */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    flex-wrap: wrap;
}

nav .logo img {
    width: 60px;
}

.navbar-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-content li {
    list-style: none;
}

.navbar-content li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    cursor: pointer;
}

.navbar-content li a:hover {
    color: rgb(121, 121, 121);
    background-size: 100% 100%;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

.inscrption {
    padding: 10px 20px;
    border: 2px solid transparent;
    background: rgb(255, 149, 149);
    border-radius: 10px;
    transition: background .5s;
    color: auto;
    cursor: pointer;

}

.inscrption:hover {
    border: 2px solid rgb(255, 149, 149);
    background: transparent;
    color: rgb(255, 116, 116);
}

/* HEADER */
.header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.links {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.links li {
    background-color: #508DE8;
    text-align: center;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #FFF;
    height: calc(100%/9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.links li:last-child{
    border-bottom: none;
}
.links li:hover {
    box-shadow: 
    inset -10em 0 0 0 #FFF,
    inset 10em 0 0 0 #FFF;  
}
.links li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    cursor:pointer;
    transition: color .3s;
    padding: 20px 0;
    width: 100%;
    transition: 1s;
}
.links li:hover > a{
    color: #508DE8;
}


/* INTRODUCTION */

.introduction {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 10px 100px;
    background: linear-gradient(20deg, #4932CB, #A87FFA);
    position: relative;
}

.bande-header-bottom {
    width: 35%;
    height: 20%;
    border-radius: 0px 100px 0px 0px;
    background: #4f4f4f50;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}

.bande-header-top {
    width: 200px;
    height: 200px;
    border-radius: 0px 0px 0px 200px;
    background: #4f4f4f20;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.introduction h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    color: white;
}

.introduction-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
    z-index: 10;
}

.introduction-content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4em;
}

.introduction-content img {
    width: 30%;
}

.introduction-content p {
    width: auto;
    margin-right: 100px;
    color: white;
}

/* SPECIALITES */
.specialites {
    height: auto;
    width: 100%;
    background: rgb(255, 255, 255);
}

.background-title {
    background:linear-gradient(170deg, #238248, #33B666);
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialites .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bande-top-left {
    width: 30%;
    height: 25%;
    border-radius: 60px;
    background: #4f4f4f40;
    position: absolute;
    top: 0;
    left: -30px;
}
.bande-top-right {
    width: 20%;
    height: 25%;
    border-radius: 60px 0 0 60px;
    background: #4f4f4f20;
    position: absolute;
    top: 15%;
    right: 0px;
}
.bande-bottom-left {
    width: 15%;
    height: 25%;
    border-radius: 60px;
    background: #4f4f4f15;
    position: absolute;
    bottom: 25%;
    left: -30px;
}
.bande-bottom-right {
    width: 5%;
    height: 25%;
    border-radius: 60px 0 0 60px;
    background: #4f4f4f35;
    position: absolute;
    bottom: 10%;
    right: 0;
}

.title img {
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 20px;
}


.reveal {
    opacity: 0;
    transform: translateY(100px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.68,-0.09, 0, 0.54);
}


.specialites h1 {
    color: white;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subcontent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.box-blue {
    background: #508DE8;
    color: white;
}
.box-white {
    background: #F4EFE8;
    color: black;
}

.box-content {
    width: 70%;
}

.box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-title{
    margin-right: 10px;
    width: 2em;
}

.btn{
    padding: 10px 20px;
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 40px 40px 40px 0;
    transition: all .3s;
    margin-top: 30px;
    cursor: pointer;
}
.btn:hover {
    border-radius: 0 40px 40px 40px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-quiz {
    background-color: #508DE8;
    border: 1px solid #508DE8;
    padding: 20px 40px;
}
.btn-quiz a {
    font-size: 1.4rem;
}



/* COMMENTS */
.comments {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 350px;
    background: radial-gradient(circle, rgba(11,89,255,1) 0%, rgba(65,32,211,1) 100%);
}

.comments h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 7%, transparent 7.01%) no-repeat center bottom / 90% 100%;
}

.active {
    opacity: 1 !important;
}

.comments-border {
    width: 100%;
    display: block;
    position: relative;
    height: auto;
    margin-bottom: 30px;
}

.box-comments0 {
    width: 50%;
    padding: 30px 20px;
    position: absolute;
    margin-top: 20px;
    background:#FFF;
    box-shadow: 2px 0px 10px rgba(177, 177, 177, 0.5);
    right: 25%;
}
.box-comments0:last-child {
    margin-right: 0;
}

.quote {
    width: 100%;
    font-size: 1.6em;
    text-align: center;
    font-style: oblique;
}

.profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.profil img {
    width: 70px;
    margin-right: 20px;
}





@keyframes slidein {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


/* ADAPTATION AUX DIFFERENTES TAILLES D'ECRAN*/
@media screen and (max-width: 1000px) {

    /*HAMBURGER*/
    .navbar-content {
        display: none;
        flex-direction: column;
    }

    .navbar-content.show {
        display: flex;
        width: 100%;
    }

    .navbar-content li {
        margin-bottom: 50px;
    }

    .inscrption {
        margin-bottom: 30px;
    }

    .hamburger {
        display: block;
    }
}