* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: rgb(255, 255, 255);
}

/* SPEIALITES */
/* NAVBAR */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    flex-wrap: wrap;
}

nav .logo img {
    width: 60px;
}

.navbar-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-content li {
    list-style: none;
}

.navbar-content li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    cursor: pointer;
}

.navbar-content li a:hover {
    color: rgb(121, 121, 121);
    background-size: 100% 100%;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

.inscription {
    padding: 10px 20px;
    border: 2px solid transparent;
    background: #508DE8;
    border-radius: 10px;
    transition: all .5s;
    color: white;
    font-size: large;
    cursor: pointer;

}

.inscription:hover {
    border: 2px solid #508DE8;
    background: transparent;
    color: #508DE8;
}

/* HEADER */
.header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.links {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.links li {
    background-color: #508DE8;
    text-align: center;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #FFF;
    height: calc(100%/9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.links li:last-child {
    border-bottom: none;
}

.links li:hover {
    box-shadow:
        inset -10em 0 0 0 #FFF,
        inset 10em 0 0 0 #FFF;
}

.links li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    transition: color .3s;
    padding: 20px 0;
    width: 100%;
    transition: 1s;
    font-weight: 500;
}

.links li:hover>a {
    color: #508DE8;
}

/* BUTTON REVENIR EN HAUT */
a#goTop {
    border-radius: 50px;
    padding: 11px 15px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.39);
    position: fixed;
    right: 20px;
    opacity: 1;
    z-index: 10;
    transition: all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#goTop:before {
    content: "\25b2";
}

a#goTop:hover {
    background: rgba(0, 0, 0, 1);
    transition: all ease-in 0.2s;
}

a#goTop.unshow {
    bottom: -35px;
    opacity: 0;
    transition: all ease-in 0.5s;
}

a#goTop.show {
    bottom: 20px;
    opacity: 1;
}



/* INTRODUCTION */

.introduction {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 40px 100px;
    background: linear-gradient(20deg, #4932CB, #A87FFA);
    position: relative;
}

.bande-header-bottom {
    width: 35%;
    height: 20%;
    border-radius: 0px 100px 0px 0px;
    background: #4f4f4f50;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}

.bande-header-top {
    width: 200px;
    height: 200px;
    border-radius: 0px 0px 0px 200px;
    background: #4f4f4f20;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.introduction h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    color: white;
}

.introduction-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
    z-index: 10;
}

.introduction-content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
}

.introduction-content img {
    width: 30%;
}

.introduction-content p {
    width: auto;
    margin-right: 100px;
    color: white;
}

/* SPECIALITES */
.specialites {
    height: auto;
    width: 100%;
    background: rgb(255, 255, 255);
}

.background-title {
    background: linear-gradient(170deg, #238248, #33B666);
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.specialites .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    text-align: center;
}

.bande-top-left {
    width: 30%;
    height: 25%;
    border-radius: 60px;
    background: #4f4f4f40;
    position: absolute;
    top: 0;
    left: -30px;
}

.bande-top-right {
    width: 20%;
    height: 25%;
    border-radius: 60px 0 0 60px;
    background: #4f4f4f20;
    position: absolute;
    top: 15%;
    right: 0px;
}

.bande-bottom-left {
    width: 15%;
    height: 25%;
    border-radius: 60px;
    background: #4f4f4f15;
    position: absolute;
    bottom: 25%;
    left: -30px;
}

.bande-bottom-right {
    width: 5%;
    height: 25%;
    border-radius: 60px 0 0 60px;
    background: #4f4f4f35;
    position: absolute;
    bottom: 10%;
    right: 0;
}

.title img {
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 20px;
}


.reveal {
    opacity: 0;
    transform: translateY(100px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.68, -0.09, 0, 0.54);
}


.introduction-content .text h1 {
    color: white;
    margin-bottom: 30px;
}

.specialites h1 {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subcontent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    height: auto;

}

.box {
    width: 50%;
    min-height: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-blue {
    background: #508DE8;
    color: white;
}

.box-white {
    background: #F4EFE8;
    color: black;
}

.box-content {
    width: 70%;
}

.box-content li {
    list-style-type: "→ ";
    margin-bottom: 10px;
    font-size: 20px;
}

.box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.logo-title {
    margin-right: 10px;
    width: 2em;
}

.btn {
    padding: 10px 20px;
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 40px 40px 40px 0;
    transition: all .3s;
    margin-top: 30px;
    cursor: pointer;
}

.btn:hover {
    border-radius: 0 40px 40px 40px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-quiz {
    background-color: #508DE8;
    border: 1px solid #508DE8;
    padding: 20px 40px;
}

.btn-quiz a {
    font-size: 1.4rem;
}

a .btn-more {
    text-align: center;
}



/* COMMENTS */
.comments {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    height: auto;
    background: radial-gradient(circle, rgba(11, 89, 255, 1) 0%, rgba(65, 32, 211, 1) 100%);
}

.comments h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 7%, transparent 7.01%) no-repeat center bottom / 90% 100%;
}

.active {
    opacity: 1 !important;
}

.comments-border {
    width: 90%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 30px;
}

.box-comments0 {
    width: 30%;
    padding: 30px 20px;
    margin-top: 20px;
    background: #FFF;
    box-shadow: 2px 0px 10px rgba(177, 177, 177, 0.5);
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-comments0:last-child {
    margin-right: 0;
}

.quote {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    font-style: oblique;
}

.profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profil img {
    width: 70px;
    margin-right: 20px;
}


/* FOOTER */
.footer {
    min-height: 300px;
    width: 100%;
    background: url('../content/img/bg-footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}

.footer .bg {
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .text {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    color: white;
}

.footer .text h1 {
    text-transform: uppercase;
}

.footer .text span {
    font-weight: 900;
    text-decoration: underline;
}

.footer .reseaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reseaux a i {
    color: white;
    margin-right: 20px;
    transition: all .3s;
}

.fa-facebook:hover {
    color: #0004ff;
    filter: drop-shadow(0px 2px 7px #ffffff);
}

.fa-youtube:hover {
    color: #d63939;
    filter: drop-shadow(0px 2px 7px #ffffff);
}

.map {
    width: 30%;
}

/* FOOTER DE FOOTER */
footer {
    background: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
}


/* ADAPTATION AUX DIFFERENTES TAILLES D'ECRAN*/
@media screen and (max-width: 1200px) {

    /* IMAGE DU HAUT DE LA PAGE */
    .introduction-content img {
        display: none;
    }

    .introduction-content .text {
        justify-content: center;
    }

    .introduction-content .text h1{
        text-align: center;
    }

    .introduction-content .text p{
        margin-right: 0;
    }

    /* CONTENT */
    .content {
        flex-direction: column;
    }

    .subcontent {
        min-height: auto;
        flex-direction: column;
    }

    .subcontent:nth-child(2) {
        flex-direction: column-reverse;
    }

    .box {
        width: 100%;
        padding: 30px;
    }

    .box-content li {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1000px) {

    /*HAMBURGER*/
    .navbar-content {
        display: none;
        flex-direction: column;
    }

    .navbar-content.show {
        display: flex;
        width: 100%;
        transition: all 1s;
    }

    .navbar-content li {
        margin-bottom: 50px;
    }

    .inscription {
        margin-bottom: 30px;
    }

    .hamburger {
        display: block;
    }

    /* FOOTER */
    .footer .bg {
        flex-direction: column;
        align-items: center;
    }

    .footer .text {
        margin: 40px 0;
        align-items: center;
        justify-content: center;
    }

    .footer .text h1 {
        margin-bottom: 30px;
    }

    .footer .text p {
        margin-bottom: 20px;
        text-align: center;
    }

    .map {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .map iframe {
        width: 90%;
    }
}


@media screen and (max-width: 950px) {

    /* COMMENTS */
    .box-comments0:nth-child(3) {
        display: none;
    }

    .box-comments0 {
        width: 45%;

    }

    /* HEADER (LINKS + INTRODUCTION) */
    .header {
        flex-direction: column;
        height: auto;
    }

    .links {
        max-width: 100%;
        min-width: 100%;
    }

    .links li a:hover {
        color: white;
    }

    .links li:hover{
        
    }

    .links li:hover>a {
        box-shadow: 0px;
    }
}

@media screen and (max-width: 715px) {

    /* COMMENTS */
    .box-comments0:nth-child(2) {
        display: none;
    }

    .comments-border {
        justify-content: center;
    }

    .box-comments0 {
        width: 90%;
        margin-right: 0;
    }
}