/**
Yo, la mif
**/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
    background: rgb(201, 201, 201);
}

/* NAVBAR */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    height: 100px;
}

nav .logo img{
    width: 60px;
}

.navbar-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-content li {
    list-style: none;
}

.navbar-content li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    cursor:pointer;
}
.navbar-content li a:hover{
    color: rgb(121, 121, 121);
    background-size: 100% 100%;
}

.inscrption {
    padding: 10px 20px;
    border: 2px solid transparent;
    background: rgb(255, 149, 149);
    border-radius: 10px;
    transition: background .5s;
    color: auto;
    cursor:pointer;

}
.inscrption:hover {
    border: 2px solid rgb(255, 149, 149);
    background: transparent;
    color: rgb(255, 116, 116);
}

#banner{
	width: 100%;
}

/** Section Content **/
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.section-content{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
	align-items: center;
	justify-content: space-around;
    flex-direction: row;

}

.text-content{
    width: 35%;
}

.title{
    font-weight: bold;
    padding-bottom: 20px;
}

.type-1{
	background-color: #508de8;
}

.type-2{
	background-color: #f4efe8;
}

.bottom-page{
    background-color: silver;
}

#copy{
    width: 100%;
    padding: 15px;
    background-color: black;
    color:rgb(255, 255, 255);
}