*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: rgb(201, 201, 201);
}

/* SPEIALITES */
/* NAVBAR */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    height: 100px;
}

nav .logo img{
    width: 60px;
}

.navbar-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-content li {
    list-style: none;
}

.navbar-content li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    cursor:pointer;
}
.navbar-content li a:hover{
    color: rgb(121, 121, 121);
    background-size: 100% 100%;
}

.inscrption {
    padding: 15px 30px;
    border: 2px solid transparent;
    background-color: rgb(255, 149, 149);
    border-radius: 10px;
    transition: background-color .5s, color .5s;
    color: black;
    cursor:pointer;

}
.inscrption:hover {
    border: 2px solid rgb(255, 149, 149);
    background: transparent;
    color: rgb(255, 116, 116);
}

/* HEADER */
.header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    border: 1px solid black;
}

.links {
    min-width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.links li {
    background-color: rgb(192, 192, 192);
    text-align: center;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #000;
    height: calc(100%/9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
}
.links li:last-child{
    border-bottom: none;
}
.links li:hover {
    background: rgb(150, 150, 150);
}
.links li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor:pointer;
    transition: color .3s;
    padding: 20px 0;
    width: 100%;
}
.links li:hover > a{
    color: rgb(255, 255, 255);
}


/* INTRODUCTION */
.introduction {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 10px 100px;
    background: #92CEE6;
}
.introduction h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
}

.introduction-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
}

.introduction-content img {
    width: 30%;
}

.introduction-content p {
    width: 50%;
}

/* SPECIALITES */
.specialites {
    height: auto;
    width: 100%;
    padding: 30px 150px;
    background: rgb(255, 255, 255);
}

.specialites .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.title img {
    width: 40px;
    max-height: 40px;
    margin-right: 30px;
}


.specialites h1 {
    color: #364646;
}

.specialites-impaire {
    /*background: #68b0ab;*/
}

.specialites-paire {
    /*background: #5a7ee0;*/
}

.subcontent {
    margin: 40px 100px;
}
.subcontent h2 {
    margin-bottom: 20px;
    color: #629493;
}